/* ABBOT ADD ONS */
.main-content, #main-content {
  /* margin-top: 85px; */
  margin-top:0;
}

.tile {
  background-color:#556;
  background-image: linear-gradient(30deg, salmon 12%, transparent 12.5%, transparent 87%, salmon 87.5%, salmon),
  linear-gradient(150deg, salmon 12%, transparent 12.5%, transparent 87%, salmon 87.5%, salmon),
  linear-gradient(30deg, salmon 12%, transparent 12.5%, transparent 87%, salmon 87.5%, salmon),
  linear-gradient(150deg, salmon 12%, transparent 12.5%, transparent 87%, salmon 87.5%, salmon),
  linear-gradient(60deg, aqua 25%, transparent 25.5%, transparent 75%, aqua 75%, aqua), 
  linear-gradient(60deg, aqua 25%, transparent 25.5%, transparent 75%, aqua 75%, aqua);
  background-size:80px 140px;
  background-position: 0 0, 0 0, 40px 70px, 40px 70px, 0 0, 40px 70px;
}

.vh-full {
  height: 100%; min-height:480px; height: 100vh;
}

@media(min-width: 768px) {
  .vh-full { min-height: 768px;}
}

.half {
  width:100%;
  float: left;
}

@media(min-width:500px) { 
  .half {width:50%;}
}

.row {
  margin:0 auto;
}
.row.vh-full {
  position: relative;
}

.logo-container {
  width: 90%;
  position: absolute;
  top:0; bottom:0; left:0; right:0;
  margin:auto;
  text-align: center;
  height: 310px;
}

.logo-holder {
  width:100%;
  max-width: 512px;
  margin:0 auto;
}
.logo-holder img {
  width: 100%;
}

.logo-container h1,
.logo-container h2,
.page-title {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: normal;
  text-transform: uppercase;
}

.page-title,
.logo-container h1 { font-size: 60px; }

.page-title {
  margin:0 auto;
  text-align: center;
}

.page-footer {
  color:white;
}