/* STICKY FOOTER */
* {
  margin: 0;
}
html, body {
  height: 100%;
}
#wrapper {
  min-height: 100%;
  /* equal to footer height */
  margin-bottom: -170px; 
}
#wrapper:after {
  content: "";
  display: block;
}
.site-footer, #wrapper:after {
  height: 170px; 
}
.site-footer {
  background: orange;
}